
 body section{margin-bottom: 120px;
    }

/* new year styles */

.section-sub-titel{font-size:32px ;
                color: #FFFFFF;
            text-align: center;}

.section-titel{
             background-image:url("/images/Banner-Image.png");
            background-repeat: no-repeat;
            max-width: 1320px;
            background-size: cover;
            margin: 0 auto;
            height: 600px;
        color: white;
        text-align: center;
        align-content: center;
        border-radius: 16px;
        
        
        font-size: 72px;
        font-weight: bold;
        margin-top: 20px;
        }

        /* discount aria styles */

        .discount-contania{max-width: 802.9px;
                        height: 806px;
                    }

         .discount-title{
                text-align: center;
                
            }
            
        .discount{font-weight: bold;
        font-size: 88px;
        color: #FF0000;}

        .discount-sub-titel{color: #FF0000;
                    font-size:24px ;
                font-weight:400;}

        /* 3 in all most same */

        .all-most-same{color: #070211;
                        font-size: 48px;
                    font-weight: bold;
                }

    /* 2024 party section stlye */

    .party-continar{max-width: 1320px;
                height: 600px;     
                background-image: url(/images/Vectorrr.png);
            display: flex;
           gap: 92px;
        text-align: center;
        align-items: center;
            margin: 0 auto;}

  


    .party-section{margin:111px 550px 313px 128px  ;font-size: 64px;
        padding-top: 111px;
        text-align: left;
           }

        .party-title{
            
                    font-weight: black;
                color: #FFFFFF;}

        .party-description{font-size: 20px;
            color: #FFFFFF;
        }    

        .only-a{font-size:20px ;
        font-weight: bold;
    color: #FFFFFF;
        text-decoration: none;}

        /* 2024 img */

        /* .new-year{margin: 68px 138px 67px 862px ;} */


        /* time section style */


        .time-section{max-width: 1320px;
                    height: 600px;
                    margin: 0 auto;
                    text-align: center;
                    border-radius: 16px;
                background-color:#e1626297;
                align-content: center;
                margin-top: 120px;
                
                }

                .time-sub-titels{
                    font-weight: 600;
                    font-size: 32px;}

            .time-color{color: #FF0000;}

            .button-class{background-color: #FF0000;
            color: #FFFFFF;
            text-decoration: none;
            border: none;
            border-radius: 8px;
            padding: 16px 32px;
            font-size: 20px;
        font-weight: bold;}

      /* best-offer styles add */

      .best-offer-continar{max-width: 1320px;
                height: 463px;
            margin: 0 auto;
            display: flex;
            margin-top: 120px;
            gap: 70px;
            align-content: center;
            
            align-items: center;}

            .circel-red img{border-radius:100%;
                        border: 10px solid red;
                        padding: 10px;
            }

            
        
           

            .offer-description{color:#070211 ;
            }
            .year-sub-titel{color: #FF0000;
                            font-size: 48px;
                        font-weight: bold;}


      /* holidays section styel */

      .holidays-continar{max-width: 1068px;
                    height: 260px;
                margin: 0 auto;
            text-align: center;
                margin-top: 120px;}

        .holiday-sale{font-size: 24px;
                    font-weight: 400;}

            .holiday-titel{ font-size: 72px;
                            font-weight: black;}
        /* discount-section style */

        .discount-section{ max-width: 1320px;
                        height: 662.07px;
                    margin: 0 auto;
                margin-top: 120px;
            background-image: url(/images/Rectangle\ 2.png);
            background-repeat: no-repeat;
        background-size: contain;
         background-position: bottom;
        display: flex;
        gap: 32px;
           border-radius: 16px; }

    /* our awesome portfolio */

    .card-items{max-width: 1320px;
            height: 1163px;
        margin: 0 auto;
        margin-top: 120px;
    }

    .gfit-cards{display: flex;
            gap:24px ;
            margin-top: 24px;}


            /* subscriber-section style */

            .subscriber-section{max-width: 1320px;
                            height: 616px;
                        margin: 0 auto;
                       margin-top: 120px;
                      align-content: center;
                    text-align: center;
                background-color: #e19797c9;
                border-radius: 16px;
                 }
                  

        .input-message{width: 648px;
                        height: 65px;
                    border: none;
                    border-radius: 8px;
                    padding-left: 20px;}


            /* footer-section style */

            .footer-section{max-width: 1600px;
                            height: 609px;
                        margin: 0 auto;
                    margin-top: 120px;
                  background-color: #070211;
                  color: #FFFFFF;
                  text-align: center;
                  align-content: center;

                }

                .footer-titel{max-width: 1185px;
                            height: 80px;
                        margin: 0 auto;
                    justify-content: space-between;
                display: flex;
                margin-bottom: 100px;}

                .footer-icon-aria{gap:20px ;
                display: flex;
                    justify-content: center;}

                    .lisenc-aria{margin-top: 150px;}
                 